body {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    margin-top: 10vh;
    margin-bottom: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    content: url("../images/tao-light.png");
    height: 70px;
}

.line {
    height: 2px;
    background: #6f6f6f;
    width: 100%;
}

.navbar {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.navbar a {
    margin: 0 2vw;
    text-decoration: none;
    color: black;
    font-size: 1.8vw;
}

@media screen and (max-width: 600px) {
    .navbar a {
        font-size: 12px; /* minimum font size for small screens */
    }
}

@media screen and (min-width: 1200px) {
    .navbar a {
        font-size: 20px; /* maximum font size for large screens */
    }
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* add some space between the elements */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) scale(1.25);
    text-align: center;
}

.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px; /* add some space between the form fields */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) scale(1.25);
}

.login-form input {
    border: 2px solid black; 
    outline: none;
}

.login-form input[type="button"], .login-form input[type="submit"] {
    border: none;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 5px 10px;
    cursor: pointer;
    color: black;
    background-color: white;
    background-image: linear-gradient(#e8e8e8, #e8e8e8), linear-gradient(#e8e8e8, #e8e8e8);
    background-repeat: no-repeat;
    background-size: 100% 0%, 100% 0%;
    background-position: 0% 100%, 100% 0%;
    transition: background-size .5s, color .5s;
}

.login-form input[type="button"]:hover, .login-form input[type="submit"]:hover {
    background-size: 100% 50%, 100% 50%;
    color: black;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    border: 1px solid black;
    top: 5%;
    width: 30%;
    height: 30%;
    padding: 20px; 
    box-sizing: border-box;
    transform: scale(1.25);
}

.upload-retrieve {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
}

.upload-retrieve input {
    border: 2px solid black;
    outline: none;
}
  
.file-upload {
    border: none;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 5px 10px;
    cursor: pointer;
    color: black;
    background: white;
    width: 100%;
}

.form-container input[type="file"] {
    display: none;
}

.form-container input[type="submit"] {
    border: none;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 5px 10px;
    cursor: pointer;
    color: black;
    background: white;
    position: relative;
    overflow: hidden;
}