body {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    margin-top: 20vh;
    margin-bottom: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    height: 50px;
}

.line {
    height: 2px;
    background: #6f6f6f;
    width: 100%;
}

.navbar {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.navbar a {
    margin: 0 2vw;
    text-decoration: none;
    color: black;
    font-size: 1.8vw; /* Adjust the size of the items based on the viewport width */
}

@media screen and (max-width: 600px) {
    .navbar a {
        font-size: 12px; /* Set a minimum font size for small screens */
    }
}

@media screen and (min-width: 1200px) {
    .navbar a {
        font-size: 20px; /* Set a maximum font size for large screens */
    }
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* This adds some space between the elements */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) scale(1.25);
    text-align: center;
}

.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px; /* This adds some space between the form fields */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) scale(1.25);
}

.login-form input {
    border: 2px solid black; /* Adjust the border size as needed */
    outline: none;
}

.login-form input[type="submit"] {
    border: none;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 5px 10px;
    cursor: pointer;
    color: black;
    background: white;
    position: relative;
    overflow: hidden;
}

.login-form input[type="submit"]:hover {
    animation: fillButton 0.3s forwards;
}

.login-form input[type="button"] {
    border: none;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 5px 10px;
    cursor: pointer;
    color: black;
    background: white;
    position: relative;
    overflow: hidden;
}

.login-form input[type="button"]:hover {
    animation: fillButton 0.3s forwards;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    border: 1px solid black;
    top: 5%;
    width: 30%;
    height: 30%;
    padding: 20px; /* Add padding to give some space inside the box */
    box-sizing: border-box; /* This makes sure the padding is included in the width and height */
    transform: scale(1.25);
}

.upload-retrieve {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
}

.upload-retrieve input {
    border: 2px solid black; /* Adjust the border size as needed */
    outline: none;
}
  
.file-upload {
    border: none;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 5px 10px;
    cursor: pointer;
    color: black;
    background: white;
    width: 100%; /* Add this line */
}

.form-container input[type="file"] {
    display: none;
}

.form-container input[type="submit"] {
    border: none;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 5px 10px;
    cursor: pointer;
    color: black;
    background: white;
    position: relative;
    overflow: hidden;
}