<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/darkmode.css' %}">
    <script src="{% static 'js/darkmode.js' %}" defer></script>
</head>
<body>
    <script>
        if (localStorage.getItem('darkMode') === 'true') {
            document.body.classList.add('dark-mode');
        }
    </script>
    <div class="dark-mode-toggle">
        <input type="checkbox" id="toggle-dark-mode">
        <label for="toggle-dark-mode" class="slider"></label>
    </div>
    <div class="logo">
        <img alt="Logo">
    </div>
    <div class="line" style="width: 70%"></div>
    <div class="navbar">
        {% if not request.session.token %}
        <a href="{% url 'register' %}">Register</a>
        <a href="{% url 'login' %}">Login</a>
        {% else %}
        <a href="{% url 'upload_file' %}">Upload File</a>
        <a href="{% url 'retrieve_file' %}">Retrieve File</a>
        <a href="{% url 'logout' %}">Logout</a>
        {% endif %}
    </div>
    <div class="line" style="width: 50%"></div>

    <div class="form-container">
        <form class="upload-retrieve" method="post">
            {% csrf_token %}
            <input type="username" name="filehash" placeholder="File Hash" required>
            <input type="submit" name="submit" value="Get File">
        </form>
    </div>
</body>
</html>
