<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('file-upload').addEventListener('change', function() {
                    var fileName = this.files[0] ? this.files[0].name : 'Choose file';
                    document.getElementById('file-name').textContent = fileName;
            });
        });
    </script>
</head>
<body>
    <div class="logo">
        {% load static %}
        <img src="{% static 'images/logo.png' %}" alt="Logo">
    </div>
    <div class="line" style="width: 70%"></div>
    <div class="navbar">
        {% if not request.session.token %}
        <a href="{% url 'register' %}">Register</a>
        <a href="{% url 'login' %}">Login</a>
        {% else %}
        <a href="{% url 'upload_file' %}">Upload File</a>
        <a href="{% url 'retrieve_file' %}">Retrieve File</a>
        <a href="{% url 'logout' %}">Logout</a>
        {% endif %}
    </div>
    <div class="line" style="width: 50%"></div>

    <div class="form-container">
        <form class="upload-retrieve" action="{% url 'upload_file' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label id="file-label" for="file-upload" class="file-upload">
                <span id="file-name">Choose file</span>
                <input type="file" id="file-upload" name="file" multiple>
            </label>
            <br>
            <br>
            <input type="submit" value="Upload">
    
            <p>{{ data }}</p>
    
        </form>
    </div>
</body>
</html>
